
<section id="merchant-address">
  <h3><%= current_user.name %> Address:</h3>
  <%= current_user.address %><br>
  <%= current_user.city %><br>
  <%= current_user.state %><br>
  <%= current_user.zip %><br>
  <%= current_user.email %><br>
</section>
