<%@orders.each do |order|%>
<h2><%= link_to "Order ID: #{order.id}", "/merchant/orders/#{order.id}" %></h2>
  <%binding.pry %>
  <%order.items.each do |item| %>
    <%if order.status == "pending" %>
      <%= item.name %>
      <%end  %>
    <%end  %>
<% end  %>



<section id="merchant-address">
  <h3><%= current_user.name %> Address:</h3>
  <%= current_user.address %><br>
  <%= current_user.city %><br>
  <%= current_user.state %><br>
  <%= current_user.zip %><br>
  <%= current_user.email %><br>
</section>
