<h1>Edit <%=link_to current_user.name, "/profile" %></h1>
<center>
  <%= form_with model: @user, url: "/profile/edit_password", method: :patch, local: true do |f| %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>

    <%= f.submit 'Update Password' %>
  <% end %>
</center>
