<h1>Edit <%=link_to current_user.name, "/profile" %></h1>
<center>
  <%= form_with model: @profile, method: :patch, local: true do |f| %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, value: nil %>

    <%= f.submit 'Update Password' %>
  <% end %>
</center>
