<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

<section class="order-info">
  <h1 align = "center">Order Info</h1>
  <center>
    <table>
      <tr>
        <th>Image</th>
        <th>Order ID</th>
        <th>Item Status</th>
        <th>Item</th>
        <th>Description</th>
        <th>Sold By</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Date Created</th>
        <th>Date Updated</th>
      </tr>
</section>

  <% @order.item_orders.each do |item_order|%>
    <tr>
      <section id = "item-<%=item_order.item_id%>">
        <td><img src="<%= item_order.item.image %>" width="100" height="100"</img></td>
        <td><%= @order.id %></td>
        <td><section class='item-<%= item_order.item_id %>-order-status-cell'><%= item_order.status %></section></td>
        <td><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></td>
        <td><%= @order.items.first.description %></td>
        <td><%= link_to item_order.item.merchant.name, "/merchants/#{item_order.item.merchant.id}"%></td>
        <td><%= number_to_currency(item_order.price)%></td>
        <td><%= item_order.quantity%></td>
        <td><%= number_to_currency(item_order.subtotal)%></td>
        <td><%= @order.created_at.localtime.strftime("%m/%d/%y") %></td>
        <td><%= @order.updated_at.localtime.strftime("%m/%d/%y") %></td>
      </section>
    </tr>
  <% end %>
</table>

<section id="grandtotal">
  <p>Order Status: <%= @order.status %></p>
  <p>Number of Items in Order: <%= @order.items.count%></p>
  <p>Total: <%=number_to_currency(@order.grandtotal)%></p>
</section>
<section id="datecreated">
  <p>Order Placed: <%= @order.created_at.localtime.strftime("%B %d, %Y at %l:%M %p") %></p>
  <% if @order.status != 'cancelled' %>
    <p><%= button_to "Cancel Order", "/profile/orders/#{@order.id}", method: :delete %>
  <% end %>
</section>
