<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Register", "/users/new", method: :get %>
      <% if current_admin? %>
        <%= link_to "Admin Dashboard", "/admin" %>
        <%= link_to "Users", "/admin/users" %>
        <% elsif current_merchant? %>
        <%= link_to "Merchant Dashboard", "/merchant/dashboard" %>
        <% else %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
      <% end %>

    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
